[Unit]
Description=TFTP server with optional directories per MAC or IP Address
After=network-online.target
Requires=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/lib/crazy.tftp/Crazy.Tftp

[Install]
WantedBy=multi-user.target
