[Unit]
Description=TFTP server based on MAC addresses
After=network-online.target
Requires=network-online.targe

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/bin/Mac.Tftp 

[Install]
WantedBy=multi-user.target
